/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	@font-face {
		font-family: 'KingthingsWroteRegular';
		src: url('../font/kingthings/Kingthings_Wrote-webfont.eot');
		src: url('../font/kingthings/Kingthings_Wrote-webfont.eot?#iefix') format('embedded-opentype'), url('../font/kingthings/Kingthings_Wrote-webfont.woff') format('woff'), url('../font/kingthings/Kingthings_Wrote-webfont.ttf') format('truetype'), url('../font/kingthings/Kingthings_Wrote-webfont.svg#KingthingsWroteRegular') format('svg');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'DroidSansRegular';
		src: url('../font/droid/DroidSans-webfont.eot');
		src: url('../font/droid/DroidSans-webfont.eot?#iefix') format('embedded-opentype'), url('../font/droid/DroidSans-webfont.woff') format('woff'), url('../font/droid/DroidSans-webfont.ttf') format('truetype'), url('../font/droid/DroidSans-webfont.svg#DroidSansRegular') format('svg');
		font-weight: normal;
		font-style: normal;
	}	
	@font-face {
		font-family: 'DroidSansBold';
		src: url('../font/droid/DroidSans-Bold-webfont.eot');
		src: url('../font/droid/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/droid/DroidSans-Bold-webfont.woff') format('woff'), url('../font/droid/DroidSans-Bold-webfont.ttf') format('truetype'), url('../font/droid/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
		font-weight: normal;
		font-style: normal;
	}
	
	body {
		font-family: "DroidSansRegular", Arial, sans-serif;
	}
	
	.kingthingsFont {
		font-family: "KingthingsWroteRegular", Arial, sans-serif;
	}
	
	#mainHead.row {
		background: none repeat scroll 0 0 #EEE;
		margin-bottom: 1em !important;
		text-align: center;
	}
	
	h1#main, h3#footLinks {
		color: #535451;
	    margin-left: 0.1em;
	    margin-top: 1em;
	    text-align: center;
	}
	
	h2 {
		color: #4D8ACC;
	}
	
	p {}
	
	#contentBody p {
		font-size: 1.5em;
	    padding: 0.5em 0 0 1em;
	}
	
	aside img {
		border: 1px solid #F1F1FF;
	    border-radius: 0 0 1em 1em;
	    max-width: 99%;
	}
	
	#errorHandler {
		background: red;
		color: #fff;
	}
	
	#mainHead .row {
	    background: none repeat scroll 0 0 #535451;
	}
	
	#mainHead h1 {
	    color: #F1F1FF;
	}
	
	#contentBody {
		margin-bottom: 1em;
	}
	
	#footerFF {
		border: 1px solid #EEEEEE;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		display: inline-block;
		margin-bottom: 1em;
		padding: 0.5em;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	
	.articleHead {
		background: none repeat scroll 0 0 #F1F1FF;
		margin-bottom: 1em;
		padding: 1em;
		border-radius: 0 0 1em 1em;
	}
	
	#feedData .feedArticle {
	    background: none repeat scroll 0 0 #F1F1F1;
	    display: inline-block;
	    min-height: 50px;
	    min-width: 100% !important;
	    padding: 1em;
	    
	    white-space: pre-wrap;       /* css-3 */
	   	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;
	}
	
	#feedData article {
		min-height: 75px;
	    overflow: hidden;
	}
	
	#feedData article span {
		display: block;
	    font-size: 1.2em;
	    margin: auto;
	    padding-top: 1em;
	    width: 90%;
	}
	
	
	

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}
	
	h2 {
		line-height: 1.1em;
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}