@font-face {
    font-family: 'AquilineRegular';
    src: url('../font/aquiline/Aquiline-webfont.eot');
    src: url('../font/aquiline/Aquiline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/aquiline/Aquiline-webfont.woff') format('woff'),
         url('../font/aquiline/Aquiline-webfont.ttf') format('truetype'),
         url('../font/aquiline/Aquiline-webfont.svg#AquilineRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'VeggieburgerRegular';
    src: url('../font/veggieburger/VeggiMed-webfont.eot');
    src: url('../font/veggieburger/VeggiMed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/veggieburger/VeggiMed-webfont.woff') format('woff'),
         url('../font/veggieburger/VeggiMed-webfont.ttf') format('truetype'),
         url('../font/veggieburger/VeggiMed-webfont.svg#VeggieburgerRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6 {font: 4em/1em 'AquilineRegular', Helvetica, Arial, sans-serif;}
body {
    font: 62.5%/1em 'VeggieburgerRegular', Helvetica, Arial, sans-serif;
    background: url("http://www.harlemrestaurant.com/images/bg_01.jpg") repeat scroll 0 0 transparent;
}
p, li {
    font-size: 1.5em;
    line-height: 1.5em;
}



.content{
    width:170px; 
    padding:10px;
    height:200px;
    font-size:12px;
}
#wrapper{
    height:340px;
    width:410px;
    background:#aa1111;
    position:absolute;
    top:50px;
    left:50px;
    border-radius:5px;
}
.page{
    background:#fff;
    width:190px;
    height:310px;
    position:absolute;
    margin:10px 10px 10px 0 ;
    border:0px solid #000;
    top:-43px;
    left:380px;
    margin:10px 0 10px 10px ;
    width:190px;
    border-top-left-radius: 40px 10px;
    border-bottom-left-radius: 40px 10px;
    border-top-right-radius: 200px 10px;
    border-bottom-right-radius: 200px 10px;
    -webkit-transform: translate3d(-376px, 46px, 0px);
    overflow:hidden;
    -webkit-box-shadow: 15px 0 5px rgba(0,0,0,0.1) inset,
        1px 0 5px rgba(0,0,0,0.4) inset,
        10px 0 4px rgba(255,255,255,0.8) inset,
        25px 0 30px rgba(0,0,0,0.2) inset,
        -25px 0 30px rgba(0,0,0,0.1) inset,
        15px 0 4px rgba(255,255,255,0.8) inset,
        -1px 0 4px rgba(0,0,0,0.3),
        3px 0 5px rgba(0,0,0,0.5),
                45px 0 15px #fff inset;
}
#page2{
    left:578px;
}
#page3{
    left:577px;

}
#page4{
    left:576px;

}
#page5{
    left:574px;

}
#page6{
    left:572px;

}
#page7{
    left:570px;
    -webkit-box-shadow: 5px 0 5px rgba(0,0,0,0.1) inset,
        1px 0 3px rgba(0,0,0,0.4) inset,
        5px 0 8px rgba(0,0,0,0.4) inset,
        -1px 0 4px rgba(0,0,0,0.3),
        3px 0 5px rgba(0,0,0,0.5),
        45px 0 15px #fff inset;
    width:0;
}
#page7 .content{
    -webkit-transform: perspective(500) rotateY(20deg);
}
#page1{
    top:-43px;
    left:380px;
    margin:10px 0 10px 10px ;
    width:190px;
    -webkit-box-shadow: -15px 0 5px rgba(0,0,0,0.1) inset,
        -1px 0 5px rgba(0,0,0,0.4) inset,
        -10px 0 4px rgba(255,255,255,0.8) inset,
        -25px 0 30px rgba(0,0,0,0.2) inset,
        25px 0 30px rgba(0,0,0,0.1) inset,
        -15px 0 4px rgba(255,255,255,0.8) inset,
        1px 0 4px rgba(0,0,0,0.3),
        -3px 0 5px rgba(0,0,0,0.5),
                -45px 0 15px #fff inset;
    border-top-left-radius: 200px 10px;
    border-bottom-left-radius: 200px 10px;
    border-top-right-radius: 40px 10px;
    border-bottom-right-radius: 40px 10px;
    -webkit-transform: translate3d(-376px, 46px, 0px);
}
#flipwrap {
position:absolute;
    top:0;
    left:330px;
    width:70px;
    height:325px;
    border:dotted rgba(0,0,0,0.2) 6px;
z-index:999;
}
#flipper{
height:312px;
    position:absolute;
    width:0px;
    margin:0;
    top:-40px;
    left:61px;
    background:#fff;
    -webkit-box-shadow: -5px 0 10px rgba(0,0,0,0.7) inset,
        1px 0 4px rgba(0,0,0,0.3);
    border-top-left-radius: 200px 3px;
    border-bottom-left-radius: 200px 3px;
    border-top-right-radius: 200px 3px;
    border-bottom-right-radius: 200px 3px;
    -webkit-transition:all 400ms;
    -webkit-transform:translate3d(0px, 46px, 10px);
}
 #flipper.peel{
height:316px;
    width:20px;
    -webkit-box-shadow: -5px 0 5px rgba(0,0,0,0.4) inset,
        -5px 0 15px #fff inset,
        1px 0 4px rgba(0,0,0,0.3),
        -3px 0 5px rgba(0,0,0,0.5);
    border-top-left-radius: 40px 10px;
    border-bottom-left-radius: 40px 10px;
    border-top-right-radius: 200px 60px;
    border-bottom-right-radius: 200px 60px;
    -webkit-transform: translate3d(-40px, 46px, 10px);
}


#page6.flip-it{

    -webkit-animation : flip-animation2 2000ms linear;

}
#page7.flip-it{

    -webkit-animation : flip-animation 2000ms linear;

}
#page7.flip-it .content{

    -webkit-animation : flip-animation3 2000ms linear;

}
@-webkit-keyframes flip-animation2 {
0% {
   width:170px;     
    border-top-left-radius: 40px 10px;
    border-bottom-left-radius: 40px 10px;
    border-top-right-radius: 200px 10px;
    border-bottom-right-radius: 200px 10px;
}
10% {
   width:0px;
    border-top-left-radius: 100px 60px;
    border-bottom-left-radius: 100px 60px;
    border-top-right-radius: 200px 10px;
    border-bottom-right-radius: 200px 10px;
}    
100% {
   width:0px;     
}
}
@-webkit-keyframes flip-animation3 {
0% {
-webkit-transform: perspective(300) rotateY(70deg) translate3d(10px,20px,0);
    
}
20% {
-webkit-transform: perspective(500) rotateY(10deg) translate3d(0,0,0);
}    
25% {
-webkit-transform: perspective(500) rotateY(0deg);
}    
100% {
-webkit-transform: perspective(500) rotateY(0deg);
}
}

@-webkit-keyframes flip-animation {
0% {
    width:20px;
    -webkit-box-shadow: -5px 0 5px rgba(0,0,0,0.4) inset,
        -5px 0 15px #fff inset,
        1px 0 4px rgba(0,0,0,0.3),
        -3px 0 5px rgba(0,0,0,0.5);
    border-top-left-radius: 40px 10px;
    border-bottom-left-radius: 40px 10px;
    border-top-right-radius: 200px 60px;
    border-bottom-right-radius: 200px 60px;
    -webkit-transform: translate3d(-225px, 46px, 0px);
}
10% {
    width:60px;
    -webkit-box-shadow: -25px 0 25px rgba(0,0,0,0.2) inset,
        -10px 0 8px rgba(0,0,0,0.4),
        1px 0 4px rgba(0,0,0,0.3),
        -3px 0 5px rgba(0,0,0,0.5),
                -45px 0 15px #fff inset;
    border-top-left-radius: 40px 10px;
    border-bottom-left-radius: 40px 10px;
    border-top-right-radius: 200px 60px;
    border-bottom-right-radius: 200px 60px;
    -webkit-transform:  translate3d(-365px, 30px, 0px);

}
16% {
    height:342px;
    width:140px;
    -webkit-box-shadow: -5px 0 5px rgba(0,0,0,0.4) inset,
        -15px 0 8px rgba(0,0,0,0.4),
        -3px 0 5px rgba(0,0,0,0.5),
        1px 0 4px rgba(0,0,0,0.3),
        -25px 0 15px #fff inset;
    border-top-left-radius: 200px 40px;
    border-bottom-left-radius: 200px 5px;
    border-top-right-radius: 200px 70px;
    border-bottom-right-radius: 200px 50px;
    -webkit-transform:  translate3d(-495px, 30px, 0px);
}
25% {
    height:312px;
    width:190px;
    -webkit-box-shadow: -15px 0 5px rgba(0,0,0,0.1) inset,
        -1px 0 5px rgba(0,0,0,0.4) inset,
        -10px 0 4px rgba(255,255,255,0.8) inset,
        -25px 0 30px rgba(0,0,0,0.2) inset,
        25px 0 30px rgba(0,0,0,0.1) inset,
        -15px 0 4px rgba(255,255,255,0.8) inset,
        1px 0 4px rgba(0,0,0,0.3),
        -3px 0 5px rgba(0,0,0,0.5),
                -45px 0 15px #fff inset;
    border-top-left-radius: 200px 10px;
    border-bottom-left-radius: 200px 10px;
    border-top-right-radius: 40px 10px;
    border-bottom-right-radius: 40px 10px;
    -webkit-transform: translate3d(-565px, 46px, 0px);
}
100% {
    height:312px;
    width:190px;
    -webkit-box-shadow: -15px 0 5px rgba(0,0,0,0.1) inset,
        -1px 0 5px rgba(0,0,0,0.4) inset,
        -10px 0 4px rgba(255,255,255,0.8) inset,
        -25px 0 30px rgba(0,0,0,0.2) inset,
        25px 0 30px rgba(0,0,0,0.1) inset,
        -15px 0 4px rgba(255,255,255,0.8) inset,
        1px 0 4px rgba(0,0,0,0.3),
        -3px 0 5px rgba(0,0,0,0.5),
                -45px 0 15px #fff inset;
    border-top-left-radius: 200px 10px;
    border-bottom-left-radius: 200px 10px;
    border-top-right-radius: 40px 10px;
    border-bottom-right-radius: 40px 10px;
    -webkit-transform: translate3d(-565px, 46px, 0px);
}
}






/*
 * 
 *	CUSTOM STYLES
 * 
 * */
  
#landingPage img {
	margin: 0 0 0 80px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}
#locationPage iframe {margin: 0 0 0 35px;}
#contactPage ul {margin:25px 0 0; float: left;}
#contactPage li {margin:0 0 15px;}
#menuPage img {
    height: 150px;
    float: left;
    margin: 0 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}
#menuPage li {margin:0 0 5px;}
#menuPage li, #contactPage li {list-style:none;}
#book a {text-decoration:none;}

/*
 * 
 *	ICONS
 * 
 * */
.icon {
    height: 16px;
    margin: 0 0 0 5px;
    position: relative;
    width: 16px;
}
.icon-message-triangle-1 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #000000 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 6px;
    height: 0;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 0;
}
.icon-message-triangle-2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-right-radius: 2px;
    border-color: transparent #000000 #000000 transparent;
    border-image: none;
    border-right: 6px solid #000000;
    border-style: solid;
    border-width: 6px;
    bottom: 2px;
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
}
.icon-message-triangle-3 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-left-radius: 2px;
    border-color: transparent transparent #000000 #000000;
    border-image: none;
    border-style: solid;
    border-width: 6px;
    bottom: 2px;
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}

.icon-iphone-rectangle-1 {
    background-color: #000000;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    height: 3px;
    left: 3px;
    position: absolute;
    top: 0;
    width: 10px;
}

.icon-iphone-rectangle-2 {
    border: 1px solid #000000;
    height: 9px;
    left: 3px;
    position: absolute;
    top: 2px;
    width: 8px;
}

.icon-iphone-rectangle-3 {
    background-color: #000000;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 4px;
    left: 3px;
    position: absolute;
    top: 12px;
    width: 10px;
}

.icon-iphone-line {
    background-color: #FFFFFF;
    height: 1px;
    left: 6px;
    position: absolute;
    top: 1px;
    width: 4px;
}

.icon-iphone-dot {
    background-color: #FFFFFF;
    border-radius: 1px 1px 1px 1px;
    height: 2px;
    left: 7px;
    position: absolute;
    top: 13px;
    width: 2px;
}


.icon-paper-rectangle {
    border: 1px solid #000000;
    height: 14px;
    left: 1px;
    position: absolute;
    top: 0;
    width: 12px;
}

.icon-paper-line-1 {
    background-color: #000000;
    height: 1px;
    left: 3px;
    position: absolute;
    top: 2px;
    width: 4px;
}

.icon-paper-line-2 {
    background-color: #000000;
    height: 1px;
    left: 3px;
    position: absolute;
    top: 4px;
    width: 4px;
}
.icon-paper-line-3 {
    background-color: #000000;
    height: 1px;
    left: 3px;
    position: absolute;
    top: 6px;
    width: 4px;
}
.icon-paper-line-4 {
    background-color: #000000;
    height: 7px;
    left: 8px;
    position: absolute;
    top: 2px;
    width: 5px;
}
.icon-paper-line-5 {
    background-color: #000000;
    height: 4px;
    left: 3px;
    position: absolute;
    top: 10px;
    width: 10px;
}



















.icon-home-triangle {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #000000;
    border-image: none;
    border-style: solid;
    border-width: 8px;
    bottom: 7px;
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}
.icon-home-rectangle {
    background-color: #000000;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    bottom: 1px;
    height: 8px;
    left: 3px;
    position: absolute;
    width: 10px;
}

.icon-home-line {
    background-color: #000000;
    border-radius: 1px 1px 1px 1px;
    height: 5px;
    left: 3px;
    position: absolute;
    top: 2px;
    width: 2px;
}





